<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766492047960-m8tffrg95hnhje0d3bdbsvga47s2u72s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766492047960-m8tffrg95hnhje0d3bdbsvga47s2u72s</string>
	<key>API_KEY</key>
	<string>AIzaSyB4LcroqJTJpTdXUFvqtIS1S5034jdYIL4</string>
	<key>GCM_SENDER_ID</key>
	<string>766492047960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.food</string>
	<key>PROJECT_ID</key>
	<string>food-ordering-cb14e</string>
	<key>STORAGE_BUCKET</key>
	<string>food-ordering-cb14e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766492047960:ios:5655646d856d249933a82d</string>
</dict>
</plist>